### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

.smarttomcat/*

.smarttomcat/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
web/WEB-INF/classes/

### Mac OS ###
.DS_Store


### Database ###
src/main/java/Database/*

web/WEB-INF/view/Projets.jsp
web/WEB-INF/view/projets.jsp
